{% extends "base.html" %}
{% block content %}
<h2>Register as a new user</h2>
<form class="form-signup" method="POST" action="/user-signup">
    {% csrf-field %}
    <input type="email"
           id="inputEmail"
           placeholder="Email address"
           name="email"
           required
           autofocus>
    <br>
    <input type="password"
           id="inputPassword"
           placeholder="Password"
           name="password"
           required>
    <br>
    <input type="password"
           id="repeatPassword"
           placeholder="Repeat password"
           name="password-repeat"
           required>
    <br>
    <button type="submit">Create user account</button>
</form>
{% if errors.email %}
<p>{{errors.email|join}}</p>
{% endif %}
{% if errors.password %}
<p>{{errors.password|join}}</p>
{% endif %}
{% endblock %}

