{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>My accounts <small></small></h1>
</div>
{% if accounts %}
<div class="panel panel-default">
    <div class="panel-heading">List of accounts for {{email}}</div>
    {% for account in accounts|sort-by:account_name %}
    <a href="/{{account.account_name}}/admin" class="list-group-item">{{account.account_name}}</a>
    {% endfor %}
</div>

{% else %}
<h2>There is no account associated with {{email}} yet.</h2>
{% endif %}
{% if errors.account_name %}
<p>{{errors.account_name|join}}</p>
{% endif %}
{% endblock %}