{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Admin panel <small>for account: {{account_name}}</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add a new user</h3>
    </div>
    <div class="panel-body">
        <form class="form-email" method="POST" action="/{{account_name}}/admin/add-user">
            {% csrf-field %}
            <div class="form-inline">
                <input type="email"
                       id="inputUser"
                       placeholder="User email"
                       name="email"
                       class="form-control left"
                       required
                       autofocus>
                <button type="submit" class="btn btn-primary">Add user</button>
            </div>
        </form>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Existing users</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>User email</th>
            <th>User status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users|sort-by:email %}
        <tr>
            <td>{{user.email}}</td>
            <td>{% if user.admin %}Admin{% else %}User{% endif %}
            </td>
            <td>

                <form class="form-change-admin" method="POST" action="/{{account_name}}/admin/change-admin">
                    {% csrf-field %}
                    {% if user.admin %}
                    <button type="submit"
                            name="email"
                            value="{{user.email}}"
                            class="btn btn-sm btn-danger"
                            {% if admins_number <= 1 %}disabled{% else %}
                    {% if not admin %} disabled{% endif %}
                    {% endif %}>
                    Remove admin
                    </button>
                    {% else %}
                    <button type="submit"
                            name="email"
                            value="{{user.email}}"
                            class="btn btn-sm btn-success"
                            {% if not admin %} disabled{% endif %}>
                        Make admin
                    </button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}