<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin-app</title>
</head>
<body>
<div class="container">
    {% if identity %}
    <p>Logged in as {{identity}}. <a href="/accounts-list">All my accounts</a> <a href="/user-logout">Logout</a></p>
    {% else %}
    <p>Not logged in. <a href="/user-login">Login</a></p>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>