{% extends "base.html" %}
{% block content %}


<div class="jumbotron">
    <h1>Welcome to Admin-app</h1>
    <p>Admin-app is a toy web app to experiment with Clojure's <a href="http://www.luminusweb.net/">Luminus</a> micro-framework. The source code is available on Github, and a tutorial is currently being written.</p>
    <p><a class="btn btn-primary btn-lg" href="/user-login" role="button">Login</a> or <a class="btn btn-primary btn-lg" href="/user-signup" role="button">Create account</a></p>
</div>


{% endblock %}


<!--<p>Admin-app is a toy web app to experiment with Clojure's <a href="http://www.luminusweb.net/">Luminus</a> micro-framework. The source code is available on Github, and a tutorial is currently being written.</p>-->
<!--<p><a href="/user-login">Login</a></p>-->
<!--<p><a href="/user-signup">Create account</a></p>-->