{% extends "base.html" %}
{% block content %}

{% if updated %}
<p>Your password has been successfully updated</p>
<p>Back to <a href="/">your accounts</a></p>
{% else %}
<form class="form-reset-password" method="POST" action="/reset-password/{{token}}">
    {% csrf-field %}
    <label for="inputPassword">Enter your new password</label>
    <input type="password"
           id="inputPassword"
           placeholder="New password"
           name="password"
           required
           autofocus>
    <label for="repeatPassword">Repeat your new password</label>
    <input type="password"
           id="repeatPassword"
           placeholder="Repeat password"
           name="password-repeat"
           required>
    <button type="submit">Reset password</button>
</form>
{% if errors.password %}<p>{{errors.password|join}}</p>{% endif %}
{% endif %}
{% endblock %}