{% extends "base.html" %}
{% block content %}

<div class="container">
    {% if sent %}
    <div class="alert alert-success" role="alert">
        <p>If your email is known to us, we just sent a link to re-initialize the password</p>
    </div>
    {% else %}
    <h2 class="form-email-heading">Enter your email</h2>
    <form class="form-email" method="POST" action="/retrieve-password">

        {% csrf-field %}
        <input type="email"
               id="inputEmail"
               placeholder="Your email"
               name="email"
               class="form-control single"
               required
               autofocus>
        <button type="submit"
                class="btn btn-lg btn-primary btn-block">
            Retrieve password
        </button>
    </form>
    {% if errors.password %}
    <div class="alert alert-danger" role="alert">
        <p>{{errors.password|join}}</p>
    </div>
    {% endif %}
    {% endif %}
</div>

{% endblock %}