{% extends "base.html" %}
{% block content %}
<form class="form-retrieve-password" method="POST" action="/retrieve-password">
    {% csrf-field %}
    <label for="inputEmail">Enter your email</label>
    <input type="email"
           id="inputEmail"
           placeholder="Your email"
           name="email"
           required
           autofocus>
    <button type="submit">Retrieve password</button>
</form>
{% if sent %}<p>If your email is known to us, we just sent a link to re-initialize the password</p>{% endif %}
{% endblock %}